<div *tdLoading="'customer'">
  <!-- cria uma variável de template e atribui o valor de ngForm a ela 
      através de ngForm é possível validar o formulário
  -->
  <form *ngIf="customer" #form="ngForm" (ngSubmit)="save()">
    <md-card>
      <md-card-header>Edit Customer</md-card-header>
      <md-card-content>
        <md-input-container>
          <!-- ngModel -> faz o two way databind para essa propriedade 
               É necessário criar uma variável de template para poder usar -> #name
               Ao usar este metodo, o input deve ter sempre um nome
               Também não é necessário utilizar a propriedade value, pois o ngModel sobrescreve este valor
               Ao usarmos essa abordagem, o Angular irá validar com base nas validações padrão do Html
          -->
          <input name="customer" mdInput placeholder="Customer Name" [(ngModel)]="customer.name" required
            #name="ngModel">
          <md-error *ngIf="name.touched && name.invalid">
            Name is required
          </md-error>
        </md-input-container>
        <md-input-container>
          <input name="email" mdInput type="email" placeholder="Email" [(ngModel)]="customer.email" required
            #email="ngModel">
          <md-error *ngIf="email.touched && email.invalid">
            A valid email is required
          </md-error>
        </md-input-container>
        <md-input-container>
          <input name="phone" mdInput type="tel" placeholder="Phone" [(ngModel)]="customer.phone" required phone
            #phone="ngModel">

          <!-- aqui é buscado por erros de validação do tipo "phone" -->
          <md-error *ngIf="phone.touched && phone.errors?.phone">
            Not a valid phone number
          </md-error>
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button type="button" md-button (click)="delete()" *ngIf="customer.id">Delete</button>
        <button type="button" md-button (click)="cancel()">Cancel</button>
        <!-- [disabled]="form.invalid" -> não permite salvar caso os controles do formulário estejam inválidos -->
        <button type="submit" md-raised-button color="primary" [disabled]="form.invalid">Save</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
